old/*
cache/*
logs/*
log_phyloconstructor/*
data/*
AMAS/
AMAS/*
cache/*
nextflow.sbatch
.nextflow.log*
.nextflow/*
tmp/
data_accessions_summary.*
log
work
.vscode/
additional/
calibration_benavides.csv
cafe5.sbatch
command_cafe.sh command.sh
species_to_keep.txt
command.sh
command_cafe.sh
results/
