params {
    outdir = "${projectDir}/results/"

    group_taxid = '61985'

    group_species_csv = '/shared/projects/metainvert/phyloconstructor2/group_species.csv'
    outgroups         = '/shared/projects/metainvert/phyloconstructor2/outgroups.csv'

    download_uniprot            = true
    download_ncbi_proteomes     = true
    download_ncbi_assemblies    = true
    download_tsa_transcriptomes = true
    download_sra_reads          = true

    busco_lineage      = 'arthropoda_odb10'
    busco_dataset_size = '1013'

    /*
     * Complete BUSCO filtering strategy.
     *
     *   1 = Keep complete single-copy BUSCO hits only.
     *   2 = Keep all complete BUSCO hits: single-copy and duplicated BUSCOs.
     *   3 = Test both filtering strategies independently.
     *
     * Default:
     *   1
     */
    busco_filtering_mode = 1

    /*
     * Threshold combinations used for phylogenetic analyses.
     *
     * Each entry contains:
     *
     * [minimum BUSCO completeness, minimum gene occupancy]
     */
    phylogeny_thresholds = [
        [60, 80]
    ]
}


process {
    executor = 'slurm'
    cache = true

    clusterOptions = ''

    /*
     * Jobs requesting more than 24 hours are submitted to the long
     * partition. Shorter jobs are submitted to the fast partition.
     */
    queue = {
        task.time > 24.h
            ? 'long'
            : 'fast'
    }
}


// Load process-specific configuration.
includeConfig "$projectDir/conf/modules.config"