params {
    taxid                       = '61985'

    group_species_csv           = '/shared/projects/metainvert/phyloconstructor2/group_species.csv'
    outgroups                   = '/shared/projects/metainvert/phyloconstructor2/outgroups.csv'

    download_uniprot            = true
    download_ncbi_proteomes     = true
    download_ncbi_assemblies    = true
    download_tsa_transcriptomes = true
    download_sra_reads          = true

    busco_lineage               = 'arthropoda_odb10'
    busco_dataset_size          = '1013'
}

// process {
//     executor = 'slurm'
//     queue = "" // Fill the partition name
//    cache = true // Cache temporary files to speed up reruns
//    clusterOptions = ''
//    queue = { task.time > 24.h ? 'long' : 'fast' }
//}

// Load base.config by default for all pipelines
includeConfig "$projectDir/conf/modules.config"
