// Define default process options for all modules here.
process {

    scratch = true
    cpus = 1
    time = '6h'
    maxRetries = 4

    errorStrategy = {
        task.attempt <= task.maxRetries ? 'retry' : 'ignore'
    }

    storeDir = {
        def parts = task.process.tokenize(':')

        /*
         * Example:
         * PHYLOCONSTRUCTOR:PREPARE_INPUTS:DOWNLOAD_SRA
         *
         * parts[0]  = PHYLOCONSTRUCTOR
         * parts[1]  = PREPARE_INPUTS
         * parts[-1] = DOWNLOAD_SRA
         */
        def top_workflow = parts.size() > 1 ? parts[1] : parts[0]
        def process_name = parts[-1]

        (
            "${projectDir}/${params.cacheDir}/" +
            "${top_workflow}/${process_name}/" +
            "${task.tag}".replace(':', '/')
        ).toLowerCase()
    }


    /*
     * BUSCO 6.0.0
     */
    withLabel: 'busco' {
        container = 'quay.io/biocontainers/busco:6.0.0--pyhdfd78af_3'
    }


    /*
     * ASTRAL 5.7.8
     */
    withLabel: 'astral' {
        container = 'quay.io/biocontainers/astral-tree:5.7.8--hdfd78af_1'
    }


    /*
     * IQ-TREE 3.0.1
     */
    withLabel: 'iqtree' {
        container = 'quay.io/biocontainers/iqtree:3.0.1--h503566f_0'
    }


    /*
     * MAFFT 7.525
     */
    withLabel: 'mafft' {
        container = 'quay.io/biocontainers/mafft:7.525--h031d066_1'
    }


    /*
     * PhyKIT 2.0.1
     * SeqKit 2.9.0
     * CD-HIT 4.8.1
     * AGAT 1.6.1
     */
    withLabel: 'sequence_tools' {
        container = 'docker://dorinemerlat/phyloconstructor-sequence-tools:1.0.0'
    }


    /*
     * trimAl 1.5.0
     */
    withLabel: 'trimal' {
        container = 'quay.io/biocontainers/trimal:1.5.0--h9948957_2'
    }


    /*
     * NCBI Datasets 18.15.0
     */
    withLabel: 'ncbi_datasets' {
        container = 'quay.io/staphb/ncbi-datasets:18.15.0'
    }


    /*
     * SRA Toolkit 3.4.1
     * BBMap 39.00
     * SPAdes / rnaSPAdes 4.2.0
     */
    withLabel: 'rna_tools' {
        container = 'docker://dorinemerlat/phyloconstructor-rna:1.0.0'
    }


    /*
     * Entrez Direct 22.4
     */
    withLabel: 'entrez_direct' {
        container = 'quay.io/biocontainers/entrez-direct:22.4--he881be0_0'
    }


    /*
     * TransDecoder 5.7.1
     */
    withLabel: 'transdecoder' {
        container = 'quay.io/biocontainers/transdecoder:5.7.1--pl5321hdfd78af_2'
    }
}