// Define default process options for all modules here
process {
    scratch = true
    cpus = 1
    time = '6h'
    maxRetries = 4
    errorStrategy = { task.attempt <= 5 ? 'retry' : 'ignore' }

    storeDir = {
        def parts = task.process.tokenize(':')

        /*
        * Example:
        * PHYLOCONSTRUCTOR:PREPARE_INPUTS:DOWNLOAD_SRA
        *
        * parts[0]  = PHYLOCONSTRUCTOR
        * parts[1]  = PREPARE_INPUTS
        * parts[-1] = DOWNLOAD_SRA
        */
        def top_workflow = parts.size() > 1 ? parts[1] : parts[0]
        def process_name = parts[-1]

        (
            "${projectDir}/cache/" +
            "${top_workflow}/${process_name}/" +
            "${task.tag}"
                .replace(':', '/')
        ).toLowerCase()
    }

    publishDir = [
        path: {
            def parts = task.process.tokenize(':')

            def top_workflow = parts.size() > 1 ? parts[1] : parts[0]
            def process_name = parts[-1]

            (
                "${projectDir}/results/" +
                "${top_workflow}/${process_name}/" +
                "${task.tag}".replace(':', '/')
            ).toLowerCase()
        },
        mode: 'copy',
        overwrite: true
    ]
}

