/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
// publishDir
// publishDir = [
//     path: { "${params.outdir}/out/${task.process.tokenize(':')[-1].toLowerCase()}/${task.tag.tokenize(':')[-1].toLowerCase()}" },
//     mode: "symlink" ]

cpus = '1'
time ='6h'

storeDir = { 
        "${projectDir}/cache/" + 
        "${task.process}".split(':')[-1] + "/" + 
        "${task.tag}"
            .replace('NFCORE_EXOGAP:EXOGAP:', '')
            .replace(':', '/')
    }

scratch = true

// Process configurations with Conda environment and container definitions
    withLabel: 'busco' {
        conda = 'conf/envs/busco.yml'
        container = 'docker://ezlabgva/busco:v5.7.0_cv1'
    }
    
    withLabel: 'bioawk' {
        conda = 'conf/envs/bioawk.yml'
        container = 'quay.io/biocontainers/bioawk:1.0--he4a0461_9'
    }
    
    withLabel: 'phyloconstructor' {
        conda = 'conf/envs/ncbi.yml'
        container = 'docker://dorinemerlat/phyloconstructor:v1.2'
    }

    withLabel: 'trimal' {
        conda = 'conf/envs/trimal.yml'
        container = 'docker://dorinemerlat/phyloconstructor:v1.2'
    }
}
